#**
This creates the java OpenCV bitwise or function
*#//inputs
#set($inputs = $step.getInputNames())
Mat firstInput$c = $inputs.get(0);
Mat secondInput$c = $inputs.get(1);
#parse("/src/export/SingleOutput.vm")
Mat $dst = new Mat();
//operation
Core.bitwise_or(firstInput$c,secondInput$c,$dst);