#**
This creates the java OpenCV dilate function
*#//inputs
#set($inputs = $step.getInputs())
//uses $inputs.get(0).varName() as input
#if(!$inputs.get(1).varName().equals("NoValue"))
Mat kernel = $inputs.get(1).varName();
#else
Mat kernel = new Mat();
#end
#if(!$inputs.get(2).varName().equals("NoValue"))
Point anchor = $inputs.get(2).varName();
#else
Point anchor = new Point(-1,-1);
#end
int iterations = (int)$inputs.get(3).varName();
int borderType = Core.$inputs.get(4).varName();
#if(!$inputs.get(5).varName().equals("NoValue"))
Scalar borderValue = $inputs.get(5).varName();
#else
Scalar borderValue = new Scalar(-1);
#end
//output
#set( $outputs = $step.getOutputs())
#set( $dst = $outputs.get(0).varName() )
Mat $dst = new Mat();
//operation
Imgproc.dilate($inputs.get(0).varName(),$dst,kernel,anchor,iterations,borderType,borderValue);