#**
This creates the java OpenCV Filter Contours function
*#		//inputs
#set($inputs = $step.getInputNames())
		List<MatOfPoint> inputContours$c = $inputs.get(0);
		double minArea$c = $inputs.get(1);
		double minPerimeter$c = $inputs.get(2);
		double minWidth$c = $inputs.get(3);
		double maxWidth$c = $inputs.get(4);
		double minHeight$c = $inputs.get(5);
		double maxHeight$c = $inputs.get(6);
		double minSolidity$c = $step.varNameAsList($inputs.get(7)).get(0);
		double maxSolidity$c = $step.varNameAsList($inputs.get(7)).get(1);
		double minVertexCount$c = $inputs.get(8);
		double maxVertexCount$c = $inputs.get(9);
		double minRatio$c = $inputs.get(10);
		double maxRatio$c = $inputs.get(11);
#parse("/src/export/SingleOutput.vm")
		List<MatOfPoint> $dst = new ArrayList<MatOfPoint>();
		//operation
		filterContours(inputContours$c, $dst , minArea$c, minPerimeter$c, minWidth$c, maxWidth$c, minHeight$c, maxHeight$c, minSolidity$c, 
			maxSolidity$c, minVertexCount$c, maxVertexCount$c, minRatio$c, maxRatio$c);
		outputs.put("$dst", $dst); $outputs.get(0).setValueType("List<MatOfPoint>")