#**
This creates setters for all of the Sources
*##if($i<$numSources)
	/**
	 * This method sets source $i. 
	 * @param source is the Mat that the source will be set to 
	 */
	public void setSource$i(Mat source){
		this.source$i = source;
	}
#set($i= $i +1)
#parse("/src/export/SetSources.vm")
#end
